.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.err 
	color red
	font-size 10px

.invent-form
	  Input 
      width 100%
      colorn #1D1655
      line-height 16px
      font-size 16px
      padding 9px
      border 1px solid #E7ECF1
      border-radius 2px
      transition 0.3s all ease-in-out
      &:focus
          border 1px solid #1D1655
          transition 0.3s all ease-in-out
	label	
      color #1D1655
      font-size 16px
      margin-bottom 10px
      font-family  'BentonSans bold'
