//colors
.Inventory	
	margin-top 80px
.user-table-tabs
	display table
	width 100%
	thead
		border 1px solid #E7ECF1
		background-color #E7ECF1

		th
			font-size 14px
			font-weight 500
			color #1D1655
			font-family  'BentonSans bold'
			padding  8px 20px
		width 100%
		border-bottom 1px solid #E7ECF1
	tr 
		border 1px solid #E7ECF1
		background-color #ffffff
	td	
		padding 20px  20px
	td:nth-child(1)
		width 15%
		line-height 20px
		font-weight normal
	td:nth-child(2)
		width 15%
		line-height 20px
		font-weight normal
	td:nth-child(3)
		width 18%
		line-height 20px
		font-weight normal
	td:nth-child(4)
		width 18%
		line-height 20px
		font-weight normal
	td:nth-child(5)
		width 14%
		line-height 20px
		font-weight normal
.inventory-button
	margin-top -15px
	margin-bottom -25px
	font-size 14px
	float right
	span
		color white
		height 16px
		width 16px
		padding 8px
		font-size 16px
	button
		padding 8px 14px
		background-color #00B395
		border none
		border-radius 2em
		color white
		font-size 16px
		font-family  'BentonSans bold'
		outline none
		&:hover
			background-color #004D00
			transition 0.3s ease-in-out all
		img
			height 16px
			width 16px
			margin-right 8px
			svg 
				color #000000
				width 10px
				height 10px
